{% extends 'layout.html' %}

{% block head %}
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block nav %}
		<li class="nav-item"><a class="nav-link active" href="/scoutingreport">Scouting Report</a></li>
		<li class="nav-item"><a class="nav-link active" href="/about">About Me</a></li>
{% endblock %}

{% block page_content %}
	<section id="page_content">
		<div class="container-fluid">
			<div class="row justify-content-md-center">
				<div class="col-md-9 col-md-6">
					<div class="about">

						<h3>Braves Coding Challenge</h3>
						<h5>Griffin Ansel</h5>
						<p>Hello and welcome to my solution to the coding challenge posed by the Atlanta Braves. This site is intended to show that I have a foundation in web development, familiarity with baseball data, and an ability to visualize data in an easily ingestible format.
							As my resume does not include much to attest to my skill in web development but has significant baseball experience, I focused primarily on designing the site itself rather than going in depth on analyzing the baseball data. On the Scouting Report page, you will see two different
							graph types to visualize the data given to me in PitchData.csv.
						</p>
						<p>After growing up a season ticket holder for the Oakland A's, I had the opportunity to work in the A's Baseball Operations Department within their front office for two summers. That work was a dream come true; I worked on the A's draft strategy and announced a pick at the 2018 MLB draft (RHP <a href="https://www.baseball-reference.com/register/player.fcgi?id=bryant003cha">Chad Bryant II</a> who, incidentally, was drafted by the Braves the next year), analyzed minor league and collegiate data to find trends valuable to our MLB club, and evaluated prospects  trades at the deadline. Now that I'm in my final year at MIT, I am looking for a full time job I'd enjoy. I hope that job can come in Atlanta with the Braves!</p>
						<p>If you'd like to learn more about me, please click the About Me tab at the top of the page, my name at the bottom of the page, or <a href="https://griffinansel.com/">here</a> to be redirected to my personal website, which includes links to my LinkedIn, GitHub, and Resume!
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}